{% extends "base.html" %} {% block title %}{{ gettext("Welcome") }}{% endblock
%} {% block hero %}
<h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">
  Bereit, soziale Medien zu benutzen?
</h1>
<p class="mt-6 text-lg leading-8 text-gray-600">
  Social Media Test- und Zertifikatsprogramm
</p>
{% endblock %} {% block content %}
<section id="for-you" class="py-8 px-4">
  <h2 class="text-2xl font-bold mb-4">Für dich</h2>
  <p class="mb-4">
    Bist du bereit zu beweisen, dass du bereit bist, soziale Medien zu nutzen?
    Erfahre mehr über soziale Medien, teste dein Wissen und erwerbe ein
    wertvolles Social-Media-Zertifikat.
  </p>
  <h3 class="text-lg font-bold mb-2">Warum den Test machen?</h3>
  <ul class="list-disc ml-8 mb-4">
    <li>Beweise, dass du bereit bist, soziale Medien zu nutzen</li>
    <li>
      Bewerte dein Verständnis von Online-Sicherheit und digitaler Etikette
    </li>
  </ul>
</section>

<section id="for-parents" class="py-8 px-4 bg-gray-200">
  <h2 class="text-2xl font-bold mb-4">Für Eltern</h2>
  <p class="mb-4">
    Bereiten Sie Ihr Kind darauf vor, sich in den sozialen Medien
    zurechtzufinden. Auf dieser Website werden verschiedene Tests und
    Zertifikate zur Beurteilung der Bereitschaft angeboten.
  </p>
  <h3 class="text-lg font-bold mb-2">Was wir anbieten:</h3>
  <ul class="list-disc ml-8 mb-4">
    <li>Links zu Lernmaterialien zur Prüfungsvorbereitung</li>
    <li>Knifflige Fragen, die die Bereitschaft beurteilen sollen</li>
    <li>Zertifikatsvalidierung</li>
  </ul>
</section>

<section id="get-started" class="py-8 px-4">
  <h2 class="text-2xl font-bold mb-4">Bereit anzufangen?</h2>
  <p class="mb-4">
    Dein Weg in eine bessere und sicherere digitale Zukunft ist nur einen Klick
    entfernt.
  </p>
  <a
    href="{{ url_for('learn.index') }}"
    class="bg-indigo-500 text-white px-4 py-2 rounded"
    >{{ gettext("Enroll Now") }}</a
  >
  <p class="mt-4">
    Scrolle nicht einfach. Lernen noch heute und bestehe den Test!
  </p>
</section>
{% endblock %}
