.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# pyenv
venv/

# Docker
docker/
.env

# Django, Flask
*.log
*.pot
*.pyc
__pycache__/
_static/
_media/
instance/

# SQLite
db.sqlite3