{% extends "base.html" %} {% block title %}Certificate{% endblock %} {% block
content %}
<div class="px-4 sm:px-6 lg:px-8">
  {% if certificates %}
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-base font-semibold leading-6 text-gray-900">
        {{ gettext("Your certificates") }}
      </h1>
      <p class="mt-2 text-sm text-gray-700">
        {{ gettext("A list of all the valid certificates related to your E-mail
        address.") }}
      </p>
    </div>
  </div>
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <table class="min-w-full divide-y divide-gray-300">
          <thead>
            <tr>
              <th
                scope="col"
                class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0"
              >
                {{ gettext("Name") }}
              </th>
              <th
                scope="col"
                class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
              >
                {{ gettext("Valid until") }}
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            {% for certificate in certificates %}
            <tr>
              <td
                class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0"
              >
                {{ certificate['name'] }}
              </td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                {{ certificate['valid_until']|dateformat('long') }}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% else %}
  <div>
    {{ gettext("No certificates found for current E-Mail address.") }}
    <a
      href="{{ url_for('email') }}"
      class="text-indigo-600 hover:text-indigo-900"
      >{{ gettext("Change E-Mail.") }}</a
    >
  </div>
  {% endif %}
</div>
{% endblock %}
