{% extends "base.html" %} {% block title %}About{% endblock %} {% block content
%}
<header class="bg-indigo-500 text-white p-6">
  <h1 class="text-3xl">
    Unlock Your Digital Potential: Social Media Test & Certificate Program
  </h1>
  <p>Welcome to a journey of discovery, growth, and digital empowerment!</p>
</header>

<section class="py-8 px-4">
  <h2 class="text-2xl font-bold mb-4">About Us</h2>
  <p class="mb-4">
    At the Social Media Certification Program, we believe in harnessing the
    power of social media for positive change. Our mission is to empower
    teenagers to become responsible, creative, and influential digital citizens.
  </p>
  <p class="mb-4">
    In a world where digital presence matters, we understand the importance of
    equipping the younger generation with the skills needed to navigate the
    online landscape responsibly. Our comprehensive certification program goes
    beyond filters and hashtags, focusing on critical thinking, creativity, and
    ethical online behavior.
  </p>
  <p class="mb-4">Why choose us?</p>
  <ul class="list-disc ml-8 mb-4">
    <li>
      Expertly crafted curriculum designed for today's digital challenges.
    </li>
    <li>Practical skills that go beyond social media trends.</li>
    <li>
      A commitment to fostering responsible and ethical digital citizenship.
    </li>
    <li>A recognized certificate that opens doors to future opportunities.</li>
  </ul>
</section>

<section class="py-8 px-4 bg-gray-200">
  <h2 class="text-2xl font-bold mb-4">Our Values</h2>
  <p class="mb-4">
    We are driven by a set of core values that guide everything we do:
  </p>
  <ul class="list-disc ml-8 mb-4">
    <li>
      <strong>Empowerment:</strong> We believe in empowering individuals with
      the knowledge and skills to thrive in the digital age.
    </li>
    <li>
      <strong>Creativity:</strong> We encourage creative expression and
      innovation in the online space.
    </li>
    <li>
      <strong>Responsibility:</strong> We promote responsible and ethical use of
      social media for a positive impact.
    </li>
    <li>
      <strong>Inclusivity:</strong> We embrace diversity and strive to create an
      inclusive learning environment for all.
    </li>
  </ul>
</section>

<section class="py-8 px-4">
  <h2 class="text-2xl font-bold mb-4">Meet the Team</h2>
  <p class="mb-4">
    Our team is composed of passionate educators, digital experts, and industry
    professionals dedicated to guiding the next generation of digital leaders.
  </p>
  <!-- Include team member profiles or links to individual pages if applicable -->
</section>

<section class="py-8 px-4">
  <h2 class="text-2xl font-bold mb-4">Contact Us</h2>
  <p class="mb-4">
    Have questions or want to learn more about our program? We'd love to hear
    from you!
  </p>
  <p class="mb-4">
    Email:
    <a href="mailto:info@socialmediacert.com">info@socialmediacert.com</a>
  </p>
</section>
{% endblock %}
