<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %} - Social Media Certificate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="application-name" content="Social Media Certificate" />
    <meta
      name="apple-mobile-web-app-title"
      content="Social Media Certificate"
    />
    <meta name="theme-color" content="#b91c1c" />
    <meta name="msapplication-navbutton-color" content="#b91c1c" />
    <link
      rel="manifest"
      href="{{ url_for('static',
    filename='manifest.webmanifest') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='socialmediacert-icon-512x512.png') }}"
      sizes="512x512"
      type="image/png"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='socialmediacert-icon-192x192.png') }}"
      sizes="192x192"
      type="image/png"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='socialmediacert-icon-150x150.png') }}"
      sizes="150x150"
      type="image/png"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='socialmediacert-icon-32x32.png') }}"
      sizes="32x32"
      type="image/png"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='socialmediacert-icon-16x16.png') }}"
      sizes="16x16"
      type="image/png"
    />
    <link
      rel="apple-touch-icon"
      href="{{ url_for('static', filename='socialmediacert-icon-512x512.png') }}"
      sizes="512x512"
      type="image/png"
    />
    <link
      rel="apple-touch-icon"
      href="{{ url_for('static', filename='socialmediacert-icon-192x192.png') }}"
      sizes="192x192"
      type="image/png"
    />
    <link
      rel="apple-touch-icon"
      href="{{ url_for('static', filename='socialmediacert-icon-150x150.png') }}"
      sizes="150x150"
      type="image/png"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <div class="min-h-full">
      <nav class="bg-gray-800">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
          <div class="flex h-16 items-center justify-between">
            <div class="flex items-center">
              <div class="flex-shrink-0">
                <a href="{{ url_for('index') }}">
                  <img
                    class="h-8 w-8"
                    src="/static/socialmediacert-icon.svg"
                    alt="Social Media Certificate"
                /></a>
              </div>
              <div>
                <div class="sm:ml-4 md:ml-10 flex items-baseline md:space-x-4">
                  <a
                    href="{{ url_for('learn.index') }}"
                    class="{{ 'bg-gray-900 text-white' if request.path == url_for('learn.index') else 'text-gray-300 hover:bg-gray-700 hover:text-white'}} rounded-md px-3 py-2 text-lg font-medium"
                    >{{ gettext("Learn") }}</a
                  >
                  <a
                    href="{{ url_for('test.index') }}"
                    class="{{ 'bg-gray-900 text-white' if request.path == url_for('test.index') else 'text-gray-300 hover:bg-gray-700 hover:text-white'}} rounded-md px-3 py-2 text-lg font-medium"
                    >{{ gettext("Test") }}</a
                  >
                  <a
                    href="{{ url_for('certificate.index') }}"
                    class="{{ 'bg-gray-900 text-white' if request.path == url_for('certificate.index') else 'text-gray-300 hover:bg-gray-700 hover:text-white'}} rounded-md px-3 py-2 text-lg font-medium"
                    >{{ gettext("Certificate") }}</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
      {% with messages = get_flashed_messages() %} {% if messages %}
      <header class="bg-white shadow-sm mx-auto max-w-7xl py-6 sm:px-6 lg:px-">
        <div class="rounded-md bg-yellow-50 p-4">
          <div class="flex">
            <div class="flex-shrink-0">
              <svg
                class="h-5 w-5 text-yellow-400"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495zM10 5a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0v-3.5A.75.75 0 0110 5zm0 9a1 1 0 100-2 1 1 0 000 2z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
            <div class="ml-3">
              <h3 class="text-sm font-medium text-yellow-800">
                {{ gettext("Attention needed") }}
              </h3>
              {% for message in messages %}
              <div class="mt-2 text-sm text-yellow-700">
                <p>{{ message }}</p>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </header>
      {% endif %} {% endwith %}
      <main>
        <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
          <div id="content">{% block content %}{% endblock %}</div>
        </div>
      </main>
      <footer class="bg-white">
        <div
          class="mx-auto max-w-7xl overflow-hidden px-6 py-20 sm:py-24 lg:px-8"
        >
          <nav
            class="-mb-6 columns-2 sm:flex sm:justify-center sm:space-x-12"
            aria-label="Footer"
          >
            <div class="pb-6">
              <a
                href="{{ url_for('about') }}"
                class="text-sm leading-6 text-gray-600 hover:text-gray-900"
                >{{ gettext("About") }}</a
              >
            </div>
          </nav>
          <p class="mt-10 text-center text-xs leading-5 text-gray-500">
            &copy; 2023 Gian Luca Decurtins. All rights reserved.
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>
