<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Social Media Certificate</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.8" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="application-name" content="Stack" />
    <meta name="apple-mobile-web-app-title" content="Stack" />
    <meta name="theme-color" content="#3b82f6" />
    <meta name="msapplication-navbutton-color" content="#3b82f6" />
    <link
      rel="icon"
      href="/static/socialmediacert-icon-512x512.png"
      sizes="512x512"
      type="image/png"
    />
    <link
      rel="icon"
      href="/static/socialmediacert-icon-192x192.png"
      sizes="192x192"
      type="image/png"
    />
    <link
      rel="icon"
      href="/static/socialmediacert-icon-150x150.png"
      sizes="150x150"
      type="image/png"
    />
    <link
      rel="icon"
      href="/static/socialmediacert-icon-32x32.png"
      sizes="32x32"
      type="image/png"
    />
    <link
      rel="icon"
      href="/static/socialmediacert-icon-16x16.png"
      sizes="16x16"
      type="image/png"
    />
    <link
      rel="apple-touch-icon"
      href="/static/socialmediacert-icon-512x512.png"
      sizes="512x512"
      type="image/png"
    />
    <link
      rel="apple-touch-icon"
      href="/static/socialmediacert-icon-192x192.png"
      sizes="192x192"
      type="image/png"
    />
    <link
      rel="apple-touch-icon"
      href="/static/socialmediacert-icon-150x150.png"
      sizes="150x150"
      type="image/png"
    />
  </head>

  <body>
    <h1>hello</h1>
  </body>
</html>
