{% extends "base.html" %} {% block title %}{{ gettext("Test detail") }}{%
endblock %} {% block content %}
<div class="px-4 sm:px-6 lg:px-8">
  <div class="border-b border-gray-900/10 pb-12">
    <h2 class="text-base font-semibold leading-7 text-gray-900">
      {{ test['name']}}
    </h2>
    <p class="mt-1 text-sm leading-6 text-gray-600">{{ test['description']}}</p>
  </div>

  <div class="border-b border-gray-900/10 pb-12">
    <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
      <div class="sm:col-span-3">
        <label
          for="first-name"
          class="block text-sm font-medium leading-6 text-gray-900"
          >{{ gettext("Number of questions") }}</label
        >
        <div class="mt-2">{{ test['number_of_questions'] }}</div>
      </div>

      <div class="sm:col-span-3">
        <label
          for="last-name"
          class="block text-sm font-medium leading-6 text-gray-900"
          >{{ gettext("Pass quota") }}</label
        >
        <div class="mt-2">{{ test['pass_quota'] * 100 }} %</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
